<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540199740349-a5gmt872aggpgjfk173ni6l3i8h1lt4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540199740349-a5gmt872aggpgjfk173ni6l3i8h1lt4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCLfTdV6D_1wGQ4-zR2BDITYVR1QbajXmw</string>
	<key>GCM_SENDER_ID</key>
	<string>540199740349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njdevelopment.Easy-Numbers</string>
	<key>PROJECT_ID</key>
	<string>easy-numbers-b8656</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-numbers-b8656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540199740349:ios:6c591114e8e5dc174aa8d4</string>
</dict>
</plist>