<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_NAME</key>
	<string>${APP_NAME}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.540199740349-a5gmt872aggpgjfk173ni6l3i8h1lt4r</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITUNES_ID</key>
	<string>${ITUNES_ID}</string>
	<key>LINKED_IN</key>
	<string>${LINKED_IN}</string>
	<key>NJ_EMAIL</key>
	<string>${NJ_EMAIL}</string>
	<key>RESULTS_URL</key>
	<string>${RESULTS_URL}</string>
	<key>SAVED_GAMES_TITLE</key>
	<string>${SAVED_GAMES_TITLE}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeShare</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Compartilhe com um amigo</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Compartilhe</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ShareAction</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeBookmark</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Veja os resultados</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Resultados</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Results</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Veja seus jogos</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Jogos Salvos</string>
			<key>UIApplicationShortcutItemType</key>
			<string>SearchAction</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
